.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* Botoes */

.btn-1 {
  font-family: var(--fonte-2);
  background: var(--cor-p1);
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s;
}


.btn-1:hover{
  transform: scale(1.1);
}

.btn-2 {
  font-family: var(--fonte-2);
  background: var(--cor-p2);
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 50px;
}


